@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
* {
	margin: 0;
	padding:0;
	box-sizing:border-box;
	font-size: 1rem;
}

html {
	font:normal 16px sans-serif;
	color: #555;
}

p {
	color: #6b2513;
	font-family: 'Noto Serif', serif;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 1rem 5rem;
	position:absolute;
	width:100%;
	z-index:1;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
	background-color: #9d0208;
	border: solid 2px #e85d04;
	border-radius: 4px;
	box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

nav {
	list-style: none;
	display: flex;
	padding-top: 1rem;
	flex-wrap:wrap;
}

nav li {
	margin: 0 1rem;
}

.menu-mobile {
	display: none;
}

.sticky {
	position: fixed;
	background-color: #f5f5f5;
	padding:1rem;
}

.sticky a {
	color:cadetblue;
}

.sticky a:hover {
	text-shadow: 1px 1px black;
}

.icon-ptmenu {
	display: none;
}

a {
	text-decoration: none;
	opacity:0.7;
	color:white;
	font-size: 1.2rem;
	text-shadow: 1px 1px black;
    transition: 0.7s;
}

a:hover {
	opacity:1;
    color: #000814;
    font-size: 1.3rem;
}

section {
	display: flex;
	flex-direction:column;
	align-items: center;
	padding:8rem 5rem;
}

section:not(.hero):nth-child(even) {
	background-color: #f5f5f5;
}

a.btn {
	border-radius: 5px;
	background-color: white;
	margin-top: .5rem;
	padding:1rem 2rem;
	display: inline-block;
	text-transform: uppercase;
	opacity:1;
	color:black;
}

.hero {
	min-height:100vh;
	position:relative;
	justify-content: center;
}

.cb-slideshow,
.cb-slideshow:after { 
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 0; 
    list-style-type: none;
    overflow: hidden;
}
.cb-slideshow:after { 
    content: '';
    background: transparent repeat top left; 
}

.cb-slideshow li {
	overflow: hidden;
}

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite 0s; 
}

.cb-slideshow li:nth-child(1) span { 
    background-image: url(https://images.unsplash.com/photo-1483721310020-03333e577078?auto=format&fit=crop&w=2000&q=80) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(https://images.unsplash.com/photo-1507398941214-572c25f4b1dc?auto=format&fit=crop&w=1266&q=80);
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(https://images.unsplash.com/photo-1434682881908-b43d0467b798?auto=format&fit=crop&w=1353&q=80);
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(https://images.unsplash.com/photo-1492632833879-ffead221b059?auto=format&fit=crop&w=1352&q=80);
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(https://images.unsplash.com/photo-1509656014549-e2dcac0e58af?auto=format&fit=crop&w=1094&q=80);
    animation-delay: 24s; 
}

@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    transform: scale(1.2);
	}
	25% {
	    opacity: 0;
	    transform: scale(1.2);
	}
	100% { opacity: 0 }
}

.hero h1 {
	font-family: 'Noto Serif', serif;
	margin-bottom: 1rem;
	color:#6a040f;
	transition: 0.7s;
	font-size: 70px;
	
}




.hero h3 {
	color: #6a040f;
	transition: 1s;
	font-family: 'Noto Serif', serif;
}



h3 {
	font: normal 2rem "Quicksand",sans-serif;
	margin-bottom: 1rem;
	text-shadow: 1px 1px black;
}



.hero-content-area {
	text-align: center;
	padding-top: 10%; 
	position:relative;
	opacity:0;
	margin-top: 8rem;
	animation: 1s slidefade forwards;
	
}

.hero-content-area  :hover {
	color: #003566;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	cursor: pointer;
	font-size: 80px;
}

.hero-content-area_h3{
	color: #6a040f;
	transition: 1.3s;
	font-family: 'Noto Serif', serif;
	text-align: center;
	padding-top: 0.3%; 
	position:relative;
	opacity:0;
	margin-top: 8rem;
	animation: 1s slidefade forwards;
	font-size: 40px	;
}





@keyframes slidefade {
	100% {
		opacity: 1;
		margin:0;
	}
}


hr {
	width:20%;
	height: 2px;
	background-color: red;
	border:0;
	margin-bottom: 3rem;
}

.banner {
	position:relative;
	width: 100%;
	height:20vh;
	background-color: #001845;
	overflow: hidden;
	padding-top: 2rem;
	color:white;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: solid 3px #0b090a;
    border-radius:5px;
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}

.banner h3, .banner em {
	padding: 1rem;
}

.banner-1 {
	background-image: url(https://unsplash.com/photos/5IsdIqwwNP4);
	background-size: cover;
	background-position: center bottom;
	position: absolute;
	width: 100%;
	height: 300%;
	background-repeat: no-repeat;
	opacity: 0.2;
}



.description {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.about-p  {
	margin-bottom:2rem;
	max-width: 800px;
	line-height: 2;
	flex-basis: 60%;
    padding: 20px;
	font-family: 'Noto Serif', serif;
	color: #6b2513;
	font-size: 25px;
	transition: 1s;
}

.about-p:hover{
	background-color: #001d3d;
	border: solid 2px black;
	border-radius: 20px;
	font-size: 30px;
	cursor: pointer;
	box-shadow: 1px 1px 2px black, 0 0 26px rgb(96, 96, 212), 0 0 6px rgb(64, 64, 124);
}

h2 {
	margin-bottom: 3rem;
	text-transform: uppercase;
	text-align: center;
	color: #6b2513;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.788), 0 0 25px rgba(0, 0, 255, 0.479), 0 0 5px rgba(0, 0, 139, 0.459);
	font-family: 'Noto Serif', serif;
    font-size: 60px;
	transition:1s;
}
.h2 h2:hover{
	color: #003566;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	cursor: pointer;
	font-size: 65px;
}

.description img {
	height: 17rem;
	width: auto;
    border: solid 3px #0b090a;
    border-radius: 15px;
    box-shadow: 1px 1px 2px black, 0 0 25px rgba(0, 0, 255, 0.322), 0 0 5px rgba(0, 0, 139, 0.336);
	transition: 0.7s;
	
}



.about-p {
	flex-basis: 60%;
	
}

.about img:hover{
	cursor: pointer;
	border-radius:27px;
	box-shadow: 1px 1px 2px black, 0 0 26px rgb(96, 96, 212), 0 0 6px rgb(64, 64, 124);
	height: 17.2rem;
	
}

.banner-2 {
	background-image: url(../images/banner-2.jpg);
	background-size: cover;
	background-position: center top;
	position: absolute;
	top: 5rem;
	width: 100%;
	height: 300%;
	background-repeat: no-repeat;
	opacity: 0.2;
}

.services{
	background-image: url(./test8.webp);
}

.Faisal_h2 :hover {
  color: #003566;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	cursor: pointer;
	font-size: 63px;
}

.Faisal_p{
	transition: 0.5s;
	padding: 60px;
}

.Faisal_p:hover{
	background-color: #001d3d;
	border: solid 2px black;
	border-radius: 20px;
	font-size: 30px;
	cursor: pointer;
	box-shadow: 1px 1px 2px black, 0 0 26px rgb(96, 96, 212), 0 0 6px rgb(64, 64, 124);
}

.services ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.services ul :hover{

	cursor: pointer;
}
.services li {
	flex-basis:30%;
	list-style: none;
	padding:2rem;
	overflow: hidden;
	position:relative;

}

.services li img {
	width: 30rem;
	height:20rem;
	position: relative;
	z-index:0;
	transition: opacity 150ms ease-in;
}

.services li:hover img{
	opacity: 0.5;
}

.services li:hover .overlay-right {
	opacity:1;
	left:60%;
}

.services li:hover .overlay-left {
	opacity:0;
	left:-50%;
}

.services li:hover p {
	opacity: 1;
	left:50%;
}

.overlay-left {
	position:absolute;
	top: 50%;
	left: 36%;
	background-color: red;
	height: 20%;
	transition: 300ms ease-in;
	transform: translate(-50%, -50%);
	opacity:1;
	width: 62%;
}

.overlay-right {
	position:absolute;
	top: 50%;
	left: 100%;
	width:100%;
	background-color: red;
	height: 20%;
	transition: 300ms ease-in;
	transform: translate(-50%, -50%);
	opacity:0;
}

.overlay-right p{
	position:absolute;
	left: 100%;
	top:50%;
	opacity:0;
	transition:all 100ms ease-in;
	transform: translate(-50%, -50%);
	font-family: "Quicksand",sans-serif;
	color: whitesmoke;
	font-weight: bold;
}

.overlay-left p {
	position:absolute;
	left: 38%;
	top:50%;
	font-weight: bold;
	transition:all 100ms ease-in;
	transform: translate(-50%, -50%);
	font-family: "Quicksand",sans-serif;
	color: whitesmoke;
}

.banner-3 {
	background-image: url(../images/banner-3.jpg);
	background-size: cover;
	background-position: center bottom;
	position: absolute;
	width: 100%;
	height: 300%;
	background-repeat: no-repeat;
	opacity: 0.2;
}

.banner-4 {
	background-image: url(../images/toning.jpg);
	background-size: cover;
	background-position: center bottom;
	position: absolute;
	width: 100%;
	height: 300%;
	background-repeat: no-repeat;
	opacity: 0.2;
}

.packages-desc {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	transition: 0.5s ;
}

.packages-desc :hover{
    	background-color: #03045e;
		border-radius:15px;
		box-shadow: 1px 1px 2px black, 0 0 26px rgb(96, 96, 212), 0 0 6px rgb(64, 64, 124);
		cursor: pointer;
}


.package {
	padding: 1rem 2rem;
	background-color: #1b3a4b	;
	margin: 1rem;
	box-shadow: 1px 2px 2px #37061767;
	border: solid 2px black;
	border-radius: 4px;
	transition: 1s;
}



.package p {
	line-height: 1.5;
	
}

.packages span {
	font-weight: bold;
	font-size: 1.5rem;
	color: red;
}

.banner span {
	font-size: 2rem;
	font-weight: bold;
	color: red;
}

.contacts{
	background-image: url(./test21.jpg);
}

.contact-items {
	padding-top: 2rem;
}

.contact-items i {
	margin-right: 5px;
	color:cadetblue;
}

.contact-items p {
	line-height: 2;
}

.packages{
	background-image: url(./T1.jpg);
}

footer {
	background-color: #01161e;
	padding: 5rem 2rem;
	display: flex;
	justify-content: space-between;
}

footer p {
	display: inline-block;
	color: white;
	text-transform: uppercase;
}

footer span:first-child {
	color:red;
}

footer span:nth-child(2) {
	color: black;
}

.social a {
	padding: .5rem;
}

@media screen and (max-width: 900px) {

	header {
		padding: 1rem;
	}

	.services ul {
		flex-direction:column;
	}
	.hero .background-image {
		background-position: center;
		width: 100%;
		height: 100%;
		background-size: cover;
		z-index: -1;
		background-color: #fff;
		background-image:url("../images/runner.jpg");
	}
	.background-image figure {
		display:none;
	}
}

@media screen and (max-width:500px) {

	header  {
		display: none;
	}

	section {
		padding: 5rem 2rem;
	}

	p {
		margin-bottom: 2rem;
		font-size: 1.2rem;
	}

	.menu-mobile {
		position: absolute;
		right: -30rem;
		display: block;
		z-index: 99;
		background-color: cadetblue;
		display: none;
	}

	.menu-visible {
		display: block;
		top:0;
		right:1rem;
		position: fixed;
		transition: all 450ms ease-in-out;
	}

	.menu-visible li {
		margin: 1rem;
	}

	.icon-ptmenu {
		display: block;
		position: fixed;
	    font-size: 3rem;
	    color: cadetblue;
	    padding: 1rem;
	    z-index: 99;
	}

	.hero-content-area {
		padding-top:50%;
	}



	.banner {
		height: 100%;
	}


	.services li {
		padding:0;
	}

	.services li img {
		width: 22rem;
	}

	.overlay-left {
		left: 31%;
	}

	footer {
		flex-direction: column-reverse;
	}


}


.about{
	background-image:url(./test.jpg);
}




/* ___________________________________________________________________________ صفحه المدربين _______________________________________________________________________________________________*/


.Leonel-Larson{
	background-color: #343a40;
	display: flex;
	flex-direction:column;
	align-items: center;
	padding:8rem 5rem;
	height: 100vh;
}



